In [4]:
# * * * * *
# * * * * *
# * * * * *
# * * * * *
# * * * * *
# * * * * *

num=5
for i in range(0,num):
    for j in range(0,num):
        print('*',end=" ")
    print("")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [10]:
# 1 1 1 1
# 2 2 2 2
# 3 3 3 3
# 4 4 4 4

num=4
for i in range(1,num+1):
    for j in range(1,num+1):
        print(i,end=" ")
    print("")

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [11]:
# 1 2 3 4
# 1 2 3 4
# 1 2 3 4
# 1 2 3 4

num=4
for i in range(0,num):
    for j in range(0,num):
        print(num-i,end=" ")
    print("")

4 4 4 4
3 3 3 3
2 2 2 2
1 1 1 1

In [ ]:
# 1 2 3 4 5
# 1 2 3 4 5
# 1 2 3 4 5
# 1 2 3 4 5
# 1 2 3 4 5

num=5
for i in range(1,num+1):
    for j in range(1,num+1):
        print(j,end=" ")
    print(" ")

In [75]:

num=4
for i in range(0,num):
    sum=num
    for j in range(0,num):
            print(sum,end=" ")
            sum+=2
    print("")

4 6 8 10
4 6 8 10
4 6 8 10
4 6 8 10

In [34]:
# 1 2 3 4 
# 5 6 7 8 
# 9 10 11 12 
# 13 14 15 16 

num=4
count=1
for i in range(0,num):
    for j in range(0,num):
        print(count,end=" ")
        count+=1
    print("")

1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [38]:
# *
# * *
# * * *
# * * * *

num=5
for i in range(1,num):
    for j in range(1,i+1):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *

In [41]:
num=5
for i in range(1,num):
    for j in range(i,num):
        print("*",end=" ")
    print("")

* * * *
* * *
* *
*

In [42]:
num=4
for i in range(1,num+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4

In [61]:
num=4
for i in range(0,num):
    for j in range(1,num+1-i):
        print(j,end=" ")
    print("")

1 2 3 4
1 2 3
1 2
1

In [44]:
num=4
sum=num
for i in range(1,num+1):
    for j in range(1,i+1):
        print(sum,end=" ")
        sum+=2
    print("")

4
6 8
10 12 14
16 18 20 22

In [53]:
num=4
for i in range(1,num+1):
    for j in range(num,i-1,-1):
        print(j,end=" ")
    print("")

4 3 2 1
4 3 2
4 3
4

In [56]:
num=4
a=64
for i in range(1,num+1):
    for j in range(a+i,a+num+1):
        print(chr(j),end=" ")
    print("")

A B C D
B C D
C D
D

In [59]:
num=4
a=65
total=a
for i in range(1,num+1):
    for j in range(i,num+1):
        print(chr(total),end=" ")
        total+=1
    print("")

A B C D
E F G
H I
J

In [76]:
num=4

for i in range(1,num+1):
    for j in range(1,i+1):
        print(num-j+1,end=" ")
    print("")

4
4 3
4 3 2
4 3 2 1