In [1]:
city='Rajasthan'
print(city[2:])

jasthan

In [2]:
city='Rajasthan'
print(city[:4])

Raja

In [10]:
num='rajasthan'
print(num[::-1])

nahtsajar

In [11]:
print(11/2)
print(11//2)

5.5
5

<h3> Bitwise And</h3>

<h4> number1 & number2 </h4>


<h5>13      --> 1101</h5>
<h5> 7       --> 0111</h5>
<h5>13 & 7 --> 0101    --> 5</h5>

In [14]:
x=13
y=7
print(x&y)

5

<h3> Bitwise Or</h3>

<h4> number1 | number2 </h4>


<h5>13      --> 1101</h5>
<h5> 7       --> 0111</h5>
<h5>13 & 7 --> 1111    --> 5</h5>

In [15]:
x=13
y=7
print(x|y)

15

<h3> Bitwise Right Shift</h3>

<h4> number // 2 ** bit </h4>

</h4>OR</h4>

</h4>number >> bit</h4>

In [12]:
print(54>>3)
print(54 // 2 ** 3)

6
6

<h3> Bitwise Left Shift</h3>

<h4> number * 2 ** bit </h4>

</h4>OR</h4>

</h4>number << bit</h4>

In [13]:
print(54<<3)
print(54 * 2 ** 3)

432
432

<h2>LOOP</h2>

In [16]:
# create a loop from 60 to 10

for i in range(50,10,-1):
    print(i)

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11

In [17]:
#find total from 10 to 1
sum=0
for i in range(10,0,-1):
    sum+=i
print(sum)

55

In [1]:
#make a loop from 1 to 13 and find the  number divisibale by 3

for i in range(1,13):
    if(i%3==0):
        print(i)

3
6
9
12

In [7]:
# 55 to 22 and get all the even and odd numbers
print('even')
for i in range(55,22,-1):
    if (i%2==0):
        print(i,end='   ')

print('\nodd')
for i in range(55,22,-1):
    if (i%2!=0):
        print(i,end='   ')

even
54   52   50   48   46   44   42   40   38   36   34   32   30   28   26   24
odd
55   53   51   49   47   45   43   41   39   37   35   33   31   29   27   25   23

In [8]:
# 55 to 22 and get count the even and odd numbers
countEven=0
countOdd=0
for i in range(55,22,-1):
    if (i%2==0):
        countEven+=1
    if (i%2!=0):
        countOdd+=1
print(f'total Odd count = {countOdd}')
print(f'total Even count = {countEven}')

total Odd count = 17
total Even count = 16