In [56]:
import numpy as np
import pandas as pd

In [57]:
df=pd.read_csv('Day028_placement.csv')

In [58]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [59]:
df.shape

(100, 3)

In [60]:
df.isnull().sum()

cgpa            0
resume_score    0
placed          0
dtype: int64

In [61]:
x=df.drop(columns=['placed'])  #input data
y=df['placed']   # Target Data

In [62]:
from sklearn.model_selection import train_test_split

In [63]:
x_train, x_test, y_train, y_test=train_test_split(x,y,
                                                  test_size=0.2,
                                                  random_state=1)

In [64]:
print('Total dataframe Shape :',df.shape)
print('------------------------')
print('------------------------')
print('Input data (x) shape',x.shape)
print('x-train data shape:', x_train.shape)
print('x-test data shape:', x_test.shape)
print('------------------------')
print('Input data (y) shape',y.shape)
print('y-train data shape:', y_train.shape)
print('y-test data shape:', y_test.shape)

Total dataframe Shape : (100, 3)
------------------------
------------------------
Input data (x) shape (100, 2)
x-train data shape: (80, 2)
x-test data shape: (20, 2)
------------------------
Input data (y) shape (100,)
y-train data shape: (80,)
y-test data shape: (20,)

# Data 2

In [65]:
df=pd.read_csv('Day028_Sample_data_covid_toy.csv')

In [66]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [67]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [68]:
from sklearn.impute import SimpleImputer

In [69]:
si=SimpleImputer(strategy='mean')

In [70]:
df['fever']=si.fit_transform(df[['fever']])

In [71]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [72]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [73]:
x=df.drop(columns=['has_covid'])
y=df['has_covid']

In [74]:
x

    age  gender  fever   cough       city
0    60    Male  103.0    Mild    Kolkata
1    27    Male  100.0    Mild      Delhi
2    42    Male  101.0    Mild      Delhi
3    31  Female   98.0    Mild    Kolkata
4    65  Female  101.0    Mild     Mumbai
..  ...     ...    ...     ...        ...
95   12  Female  104.0    Mild  Bangalore
96   51  Female  101.0  Strong    Kolkata
97   20  Female  101.0    Mild  Bangalore
98    5  Female   98.0  Strong     Mumbai
99   10  Female   98.0  Strong    Kolkata

[100 rows x 5 columns]

In [75]:
type(y)

pandas.core.series.Series

In [76]:
x_train,x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [77]:
y_test

83     No
30    Yes
56     No
24     No
16    Yes
23    Yes
2      No
27     No
28     No
13    Yes
99    Yes
92     No
76    Yes
14     No
0      No
21    Yes
3      No
29    Yes
61     No
79    Yes
Name: has_covid, dtype: object

In [78]:
print('Total dataframe Shape :',df.shape)
print('------------------------')
print('------------------------')
print('Input data (x) shape',x.shape)
print('x-train data shape:', x_train.shape)
print('x-test data shape:', x_test.shape)
print('------------------------')
print('Input data (y) shape',y.shape)
print('y-train data shape:', y_train.shape)
print('y-test data shape:', y_test.shape)

Total dataframe Shape : (100, 6)
------------------------
------------------------
Input data (x) shape (100, 5)
x-train data shape: (80, 5)
x-test data shape: (20, 5)
------------------------
Input data (y) shape (100,)
y-train data shape: (80,)
y-test data shape: (20,)

In [79]:
# df(100,6) = x(100,5) + y(100,1)
# x(100,5) = x_train(80,5) + x_test(20,1)
# y(100,1) = y_train(80,1) + y_test(20,1)

# Data 3

In [80]:
df=pd.read_csv('Day028_tips.csv')

In [81]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [82]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [83]:
x=df.drop(columns=['tip'])
y=df['tip']

In [84]:
x_train,x_test,y_train,y_test=train_test_split(x,y,
                                               test_size=0.2,
                                               random_state=1)

In [85]:
print('Total dataframe Shape :',df.shape)
print('------------------------')
print('------------------------')
print('Input data (x) shape',x.shape)
print('x-train data shape:', x_train.shape)
print('x-test data shape:', x_test.shape)
print('------------------------')
print('Input data (y) shape',y.shape)
print('y-train data shape:', y_train.shape)
print('y-test data shape:', y_test.shape)

Total dataframe Shape : (244, 7)
------------------------
------------------------
Input data (x) shape (244, 6)
x-train data shape: (195, 6)
x-test data shape: (49, 6)
------------------------
Input data (y) shape (244,)
y-train data shape: (195,)
y-test data shape: (49,)

In [86]:
x_train.head()

     total_bill     sex smoker  day    time  size
0         16.99  Female     No  Sun  Dinner     2
154       19.77    Male     No  Sun  Dinner     4
167       31.71    Male     No  Sun  Dinner     4
110       14.00    Male     No  Sat  Dinner     2
225       16.27  Female    Yes  Fri   Lunch     2